:root {
  /* text color */
  --text-color-title: #212121;
  --text-color: #757575;
  --acent: #2196f3;
  --black-acent: #000000;
  --adress-color: #ffffff99;
  --white: #ffffff;
  /* background color */
  --backg-dark: #2f303a;
  --backg-grey: #f5f4fa;
  --backg-hero: #c4c4c4;
  /* font style */
  --main-font: 'Roboto', sans-serif;
  --secnd-font: 'Raleway', sans-serif;
  /* other */
  --indent: 30px;
  --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}