.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  user-select: none;
}
.agreement__link {
  text-decoration: underline;
  color: var(--acent);
  text-underline-position: under;
}
.agreement__icon--check {
  opacity: 0;
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--uncheck {
  opacity: 1;
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--check {
  opacity: 1;
}
.agreement__checkbox:focus + .agreement__icon .agreement__icon--uncheck{
 fill: var(--acent)
}

.agreement__btn {
  display: inline-flex;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--time);

  &:hover,
  &:focus {
  background-color: #188CE8;
  }
}