.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--indent);
  
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--time), border-color var(--time);

  &:hover,
  &:focus {
  color: var(--acent);
  border-color: var(--acent);
  }

  @media screen and (max-width: 480px) {
    flex-basis: calc((100% - var(--indent)) / 2);
  }

  @media screen and (min-width: 768px) {
    width: 210px;
    height: 92px;
  }
}
.client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}