.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}