.nav {
  display: flex;
  margin-bottom: auto;

  @media screen and (min-width: 768px) {
   margin-right: 90px;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--text-color-title);

  @media screen and (max-width: 420px) {
    
    font-size: 16px;
    line-height: calc(18 / 16);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}
.nav__link {
  display: inline-flex;
  align-items: center;
  transition: color var(--time);

  &--current {
    position: relative;
    color: var(--acent);
  }

  &:hover,
  &:focus {
  color: var(--acent);
  }

  @media screen and (min-width: 768px) {
   & {
    padding: 32px 0;
   }
  
   &--current:after {
   content: '';
   position: absolute;
   bottom: -2px;
   left: 0;
   display: block;
   width: 100%;
   height: 5px;
   border-radius: 3px;
   background-color: var(--acent);
   }
  }
}