.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--backg-grey);
  border-radius: 4px;


  @media screen and (min-width: 768px) {
      width: 354px; 
  }
  
    
  @media screen and (min-width: 1200px) {
      width: 270px;
  }
}