.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.filter__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  background-color: var(--backg-grey);
  cursor: pointer;
  transition: color var(--time), box-shadow var(--time), background-color var(--time);

  &:hover,
  &:focus {
  color: var(--white);
  background-color: var(--acent);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}