
.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--text-color-title);
  
    @media screen and (max-width: 768px) {
      text-align: center;
    }
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--text-color-title);

  @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
}

.title--footer {
  margin-bottom: 20px;
  color: var(--white);
}
