body {
  padding-top: 80px;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.no-scroll {
  overflow: hidden;
}